apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  # مسار على جهاز الـ Node (Minikube VM)
  hostPath:
    path: "/mnt/data/mysql"